<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="{{ app.request.basePath }}/css/reset.css">
      <link rel="stylesheet" href="{{ app.request.basePath }}/css/main.css">
      <link rel="stylesheet" href="{{ app.request.basePath }}/css/login.css">
      <link rel="stylesheet" href="{{ app.request.basePath }}/css/theme.css">
      <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="content">
      <div id="header">
        <div id="menu">
          <nav id="path">
            <div class="navbar-inner">
              <ul>
                <li class="home"><a title="back" href="{{ app.request.get('callback_url', path('homepage')) }}"><img src="/images/home.png" alt="#"/></a></li></a>
                <li class="user">
                  <span class="type">user</span>
                  <span class="name">{{ app.request.get(('_route'))|split('.')|last }}</span>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div id="user" class="nav">
          {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('user.list', {'callback_url':app.request.get('callback_url')}) }}">List users</a></li>
          {% endif %}
          {% if app.user %}
            <li id="login-out"><a href="{{ path('user.logout') }}">Log out</a></li>
            <li id="user-name">
              <a href="{{ path('user.view', {'id': app.user.id, 'callback_url':app.request.get('callback_url')}) }}">
                {% if guestImageUrl is defined %}
                  <img src="{{ guestImageUrl }}" width="40" height="40"/>
                {% endif %}
                {{ app.user.displayName }}
              </a>
            </li>
          {% else %}
            <li id="create-account"><a href="{{ path('user.login') }}">Log in</a></li>
          {% endif %}
        </div>
      </div><!-- #header -->
      <div id="content-auth">
        {% if app.session.flashbag.has('alert') %}
          {% for flashMessage in app.session.flashbag.get('alert') %}
            <div class="alert">{{ flashMessage }}</div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
    </div>
    <div class="auth-footer">
      &copy; INRAE {{ "now"|date("Y") }} |
      <a href="http://www.cortext.net/contact">Contact</a> |
      <a href="{{ path('credits') }}">Crédits</a> |
      <a href="{{ path('mentions') }}">Mentions Légales</a> |
      <a href="{{ path('conditions_en') }}">Terms of use</a>
      <a href="http://www.inra.fr" target="_blank" alt="INRAE" title="INRAE"><img src="/images/logo-inra-bw.png" alt="Logo INRA" width="96" height="40"></a>
      <a href="http://www.u-pem.fr" target="_blank" alt="U-PEM" title="U-PEM"><img src="/images/logo-upem-bw.png" alt="Logo U-Pem" width="45" height="40"></a>
    </div>
    </body>
</html>
