<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="{{ app.request.basePath }}/css/reset.css">
      <link rel="stylesheet" href="{{ app.request.basePath }}/css/main.css">
      <link rel="stylesheet" href="{{ app.request.basePath }}/css/login.css">
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">
      <div id="header">
        <div id="menu">
          <nav id="path">
            <div class="navbar-inner">
              <ul>
                <li class="home"><a title="back" href="{{ app.request.get('callback_url', path('homepage')) }}"><img src="/images/home.png" alt="#"/></a></li></a>
                <li class="user">
                  <span class="type">user</span>
                  <span class="name">{{ app.request.get(('_route'))|split('.')|last }}</span>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div id="user" class="nav">
          {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('user.list', {'callback_url':app.request.get('callback_url')}) }}">List users</a></li>
          {% endif %}
          {% if app.user %}
            <li id="login-out"><a href="{{ path('user.logout') }}">Log out</a></li>
            <li id="user-name">
              <a href="{{ path('user.view', {'id': app.user.id, 'callback_url':app.request.get('callback_url')}) }}">
              {% if imageUrl %} <img src="{{ imageUrl }}" width="40" height="40"/> {% endif %} {{ app.user.displayName }}</a>
            </li>
          {% else %}
            <li id="create-account"><a href="{{ path('user.login') }}">Log in</a></li>
          {% endif %}
        </div>
      </div><!-- #header -->
      <div id="content-auth">
        {% if app.session.flashbag.has('alert') %}
          {% for flashMessage in app.session.flashbag.get('alert') %}
            <div class="alert">{{ flashMessage }}</div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
    </div>
    <div class="auth-footer">
      Cortext Manager <a href="{{ path('terms') }}">Terms of use</a>
    </div>
    </body>
</html>
