{% extends layout_template  %}

{% block title %}Log in{% endblock %}

{% block content %}

<div class="media border-media">

    {% if app.user %}
        <p>Hi  {{ app.user.displayName }}.</p>
        <p>
           <a href="{{ path('homepage') }}" class='btn btn-primary'><i class="icon-lock icon-white"></i> Test authentication server</a>
           <a href="{{ path('user') }}" class='btn'><i class="icon-user"></i>View / edit profile</a>
        </p>

    {% else %}
        <div class="page-header">

            <h2 class="info-sign">Cortext Platform -  Log in</h2>

        </div>

        {% if error %}
            <div class="alert alert-error">{{ error|nl2br }}</div>
        {% endif %}

        <form class="form-horizontal" method="POST" action="{{ path('user.login_check') }}">

            <div class="control-group">
                <div class="controls">
                    <label class="control-label" for="inputEmail">Email</label>
                    <input name="_username" type="email" id="inputEmail" placeholder="Email" required value="{{ last_username }}">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <label class="control-label" for="inputPassword">Password</label>
                    <input name="_password" type="password" id="inputPassword" required placeholder="Password">
                    <small> <a href="{{ path('user.forgotPassword') }}">Forgot your password ?</a></small>
                </div>
            </div>

            
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn bt-sign">Log in</button>
                </div>

                {% if allowRememberMe %}
                <div class="control-group">
                    <div class="controls"><label class="case-label">Remember me </label>
                            <input type="checkbox" name="_remember_me" class="case" value="true" checked>
                    </div>
                </div>
            {% endif %}

                <h3 class="infosign">Don't have an account ? <a href="{{ path('user.register') }}">Register now</a></h3>

            </div>

        </form>

    {% endif %}
   </div> 
{% endblock %}